{
  "position": "top",
  "height": 18,
  "modules-left": ["sway/workspaces", "sway/mode"],
  "modules-center": [ "clock#date", "clock#time"],
  "modules-right": [
     "custom/label#battery",
     "battery",
     "custom/label#wifi",
     "network",
     "custom/label#volume",
     "custom/pipewire"
  ],
  "tray": {
    "spacing": 10
  },
  "clock#date": {
    "format": "{:<span weight=\"extra-bold\">%m</span>-<span weight=\"extra-bold\">%d</span>}"
  },  
  "clock#time": {
    "interval": 1,
    "format": "{:<span weight=\"extra-bold\">%H</span>:<span weight=\"extra-bold\">%M</span>}"
  },
  "battery": {
    "interval": 3,
    "format": "<span weight=\"extra-bold\">{capacity}</span>%"
  },
  "network": {
    "format-wifi": "<span weight=\"extra-bold\">{signalStrength}</span>% <span weight=\"extra-bold\">{essid}</span>"
  },
  "custom/pipewire": {
    "tooltip": false,
    "max-length": 6,
    "signal": 8,
    "restart-interval": 0,
    "execold": "$HOME/.config/waybar/scripts/pipewire.sh",
    "exec": "$HOME/software/guix-home/waybar-pipewire.sh"
  },
  "pulseaudio": {
    "format": "<span weight=\"extra-bold\">{volume}</span>%"
  },
  "custom/label#date": {
    "format": "date"
  },
  "custom/label#battery": {
    "format": "電池"
  },
  "custom/label#wifi": {
    "format": "ワイファイ"
  },
  "custom/label#volume": {
    "format": "音量"
  }
}
