{
  "position": "top",
  "height": 18,
  "modules-left": ["sway/workspaces", "sway/mode"],
  "modules-center": [ "clock#date", "clock#time"],
  "modules-right": [
     "custom/label#battery",
     "battery",
     "custom/label#wifi",
     "network",
     "custom/label#volume",
     "pulseaudio"
  ],
  "tray": {
    "spacing": 10
  },
  "clock#date": {
    "format": "{:<span weight=\"bold\">%m月%d</span>}"
  },  
  "clock#time": {
    "interval": 1,
    "format": "{:<span weight=\"bold\">%H:%M</span>}"
  },
  "battery": {
    "interval": 3,
    "format": "<span weight=\"bold\">{capacity}%</span>"
  },
  "network": {
    "format-wifi": "<span weight=\"bold\">{signalStrength}% {essid}</span>"
  },
  "pulseaudio": {
    "format": "{volume}% {icon}",
    "format-bluetooth": "{volume}% {icon}",
    "format-muted": "",
    "format-icons": {
       "headphones": "",
       "handsfree": "",
       "headset": "",
       "phone": "",
       "portable": "",
       "car": "",
       "default": ["", ""]
     },
     "scroll-step": 1,
     "on-click": "pavucontrol"
  },
  "pulseaudio": {
    "format": "<span weight=\"bold\">{volume}%</span>"
  },
  "custom/label#battery": {
    "format": "電池"
  },
  "custom/label#wifi": {
    "format": "ワイ"
  },
  "custom/label#volume": {
    "format": "音量"
  }
}
