/* ('s dotfiles
 *
 * See the COPYRIGHT file for copying terms.
 */

/*
:root {
   --label-color-primary-bg: rgba(23, 23, 23, 1);
   --label-color-primary-fg: rgba(100, 114, 125, 1);
   --label-color-background-bg: rgba(100, 114, 125, 1);
   --box-color-background-bg: rgba(17, 34, 34, 1);
   --box-color-background-fg: rgba(229, 233, 240, 1); 
}
*/

* {
    font-family: "Noto Sans", "Noto Sans JP", sans-serif; 
    font-size: 12px;
    min-height: 0;
}

window {
    background: transparent;
}
/* 245, 232, 170 */
window#waybar > box {
    background: rgba(13, 18, 24, 1);
    color: rgba(229, 233, 240, 1);
    /*color: rgba(88, 233, 240, 1);*/
}
window#waybar > box span {
    font-weight: 600;
}

#language {
    min-width: 50px;
    font-weight: 700;
}

#window {
    padding-left: 2px;
    /* color: rgba(099, 103, 110, 1); */
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

#workspaces button {
    padding: 0px 4px 2px 4px;
    background-color: rgba(23, 23, 23, 1);
    border: 0;
    color: #6d87a0; /*#e5e9f0;*/
    font-size: 13px;
    font-weight: 500;
    box-shadow: inherit;
    text-shadow: inherit;    
}

#workspaces button.focused,
#workspaces button:hover {
    padding: 2px 4px 2px 4px;
    color: rgba(229, 233, 240, 1);
    font-weight: 600;
    background: rgba(23, 23, 23, 0);
    background-color: rgba(23, 23, 23, 0);
    border: 0;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

#mode {
    background: rgba(100, 114, 125, 1);
    border-bottom: 3px solid #ffffff;
}

#battery, #network, #pulseaudio, #mode {
    padding: 0 10px;
    margin: 0 5px;
}
#clock {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


#clock.time,
#clock.date {
    /*font-size: 18px;*/
}

#custom-label {
    color: rgba(100, 114, 125, 1);
    background-color: rgba(23, 23, 23, 1);
    padding: 0 10px;
    margin-left: 25px;
    border-radius: 0;
}

@keyframes blink {
    to {
        /*background-color: #ffffff;*/
        color: #aa8208;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
